<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nfach98.githubuserfavoritefavorite">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.nfach98.githubuser.READ_DATABASE" />
    <uses-permission android:name="com.nfach98.githubuser.WRITE_DATABASE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GithubUser">
        <activity android:name="com.nfach98.githubuserfavorite.app.main.MainActivity">
        </activity>
        <activity
            android:name="com.nfach98.githubuserfavorite.app.detail.DetailActivity"
            android:theme="@style/Theme.GithubUser.NoActionBar" />
        <activity android:name="com.nfach98.githubuserfavorite.app.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <queries>
        <package android:name="com.nfach98.githubuser" />
    </queries>

</manifest>